---

---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/sourabh100x" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: sourabh100x.official@gmail.com"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/sourabhbharadwaj/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
      
    </div>
</footer>

